<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.user.yabai.wm</string>
	<key>category</key>
	<string>Tools</string>
	<key>version</key>
	<string>1.1.2</string>
	<key>connections</key>
	<dict>
		<key>HK_LEFT</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_RIGHT</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_MAXIMIZE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_NEXT</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_PREV</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_LEFT_3RD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_CENTER_3RD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_RIGHT_3RD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_RESET</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_CENTER_2_3RDS</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_TOP_LEFT</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_TOP_RIGHT</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_BOTTOM_LEFT</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_BOTTOM_RIGHT</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_TOP_HALF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_BOTTOM_HALF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_CENTER_WIN</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_FLOAT</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_STICKY</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_BALANCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_LAYOUT_BSP</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_LAYOUT_STACK</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_LAYOUT_FLOAT</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_ROTATE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_LEFT_2_3RDS</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>HK_RIGHT_2_3RDS</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>WM_FILTER</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EXEC_SCRIPT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Antigravity</string>
	<key>description</key>
	<string>Yabai Window Manager (Color Coded)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Yabai Window Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>left</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>123</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>←</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Left Half</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_LEFT</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Horizontal: Left Half</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>right</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>124</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>→</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Right Half</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_RIGHT</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Horizontal: Right Half</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>maximize</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>126</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>↑</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Maximize</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_MAXIMIZE</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Window: Maximize</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>next_screen</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>125</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>↓</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Next Display</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_NEXT</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Screen: Next Display</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>prev_screen</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>126</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>↑</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Prev Display</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_PREV</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Screen: Previous Display</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>left_third</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Left Third</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_LEFT_3RD</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Horizontal: Left Third</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>center_third</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Center Third</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_CENTER_3RD</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Horizontal: Center Third</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>right_third</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Right Third</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_RIGHT_3RD</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Horizontal: Right Third</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>center_two_thirds</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>21</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>4</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Center 2/3rds</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_CENTER_2_3RDS</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Horizontal: Center 2/3rds</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>left_two_thirds</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Left 2/3rds</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_LEFT_2_3RDS</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Horizontal: Left 2/3rds</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>right_two_thirds</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Right 2/3rds</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_RIGHT_2_3RDS</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Horizontal: Right 2/3rds</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>reset_window</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>23</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>5</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Reset Balance</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_RESET</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Window: Reset/Balance</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>top_half</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>126</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>↑</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Top Half</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_TOP_HALF</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Vertical: Top Half</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>bottom_half</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>125</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>↓</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Bottom Half</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_BOTTOM_HALF</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Vertical: Bottom Half</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>center_window</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Center Window</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_CENTER_WIN</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Window: Center</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching options...</string>
				<key>script</key>
				<string>./wm.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type to search for window management commands</string>
				<key>title</key>
				<string>Window Manager</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>WM_FILTER</string>
			<key>version</key>
			<integer>3</integer>
			<key>note</key>
			<string>Alfred Keyword Search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./execute.sh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Execute Yabai</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EXEC_SCRIPT</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Main execution script for yabai commands</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>top_left</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Top Left Quarter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_TOP_LEFT</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Quarter: Top Left</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>top_right</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Top Right Quarter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_TOP_RIGHT</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Quarter: Top Right</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>bottom_left</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Bottom Left Quarter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_BOTTOM_LEFT</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Quarter: Bottom Left</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>bottom_right</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Bottom Right Quarter</string>
			</dict>
			<key>type</key>			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_BOTTOM_RIGHT</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Quarter: Bottom Right</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>float</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Toggle Float</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_FLOAT</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Window: Toggle Float</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>sticky</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Toggle Sticky</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_STICKY</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Window: Toggle Sticky</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>balance</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Balance Space</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_BALANCE</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Space: Balance</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>rotate</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Rotate 90</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_ROTATE</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Space: Rotate</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>layout_bsp</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Layout: BSP</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_LAYOUT_BSP</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Layout: BSP</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>layout_stack</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Layout: Stack</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_LAYOUT_STACK</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Layout: Stack</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>layout_float</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
				<key>customname</key>
				<string>Layout: Float</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>HK_LAYOUT_FLOAT</string>
			<key>version</key>
			<integer>2</integer>
			<key>note</key>
			<string>Layout: Float</string>
		</dict>
	</array>
	<key>readme</key>
	<string># Yabai Window Manager Pro (v1.1.1)

A high-performance window management suite for macOS, powered by yabai.

## 🚀 Setup
1. Ensure `yabai` is running (`brew install yabai`).
2. Grant Accessibility permissions to `yabai` and `Alfred`.

## ⌨️ Hyper Shortcuts (Cmd+Alt+Ctrl)
- **Arrows**: Left/Right Half, Maximize (Up), Next Screen (Down).
- **Numbers (Shift)**: Thirds (1-3), Center 2/3rds (4), Reset (5).
- **Quarters**: U/I/J/K (Corners).
- **Logic**: C (Center), F (Float), S (Sticky).
- **Control**: B (Balance), R (Rotate).

## 🔍 Command Palette
Type `wm` to fuzzy search all commands, including space layouts (BSP/Stack/Float) and window transformations.

---
*Visit https://github.com/tyou0/alfred_yabai for updates.*</string>
	<key>uidata</key>
	<dict>
		<key>EXEC_SCRIPT</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>WM_FILTER</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>

		<key>HK_LEFT</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>HK_RIGHT</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>HK_LEFT_3RD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>HK_CENTER_3RD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>HK_RIGHT_3RD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>HK_CENTER_2_3RDS</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>HK_LEFT_2_3RDS</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>HK_RIGHT_2_3RDS</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>HK_TOP_HALF</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>HK_BOTTOM_HALF</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>950</integer>
		</dict>
		<key>HK_TOP_LEFT</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>HK_TOP_RIGHT</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>HK_BOTTOM_LEFT</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>HK_BOTTOM_RIGHT</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>HK_NEXT</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>HK_PREV</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>HK_FLOAT</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>HK_STICKY</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>HK_CENTER_WIN</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>HK_LAYOUT_BSP</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>HK_LAYOUT_STACK</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>HK_LAYOUT_FLOAT</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>HK_MAXIMIZE</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>HK_BALANCE</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>HK_ROTATE</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>HK_RESET</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>950</integer>
		</dict>
	</dict>
</dict>
</plist>
